<!DOCTYPE html>
<html>
    <head>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>

    <body>
        <h1>Tasks#index1</h1>
        <p>Find me in app/views/tasks/index.html.erb</p>
    </body>
</html>